/.next/
/out/

# ملفات ومجلدات تخص Docker
# Dockerfile
.dockerignore
.gitignore


# ملفات ومجلدات تخص Node.js
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# production
/build

# misc
.DS_Store
*.pem
# ملفات ومجلدات تخص محررات النصوص والتكوينات الشخصية
*.swp
*.swo
*.swn
*.bak
*.orig
*.log
/.vscode
/.idea
*.iml
*.sublime-*
*.sublime-project
*.sublime-workspace
postcss.config.js
kind.yaml
.eslintrc.json
README.md
tailwind.config.js

# ملفات ومجلدات أخرى غير ضرورية

*.pid
*.seed
*.lock
*.pid.lock
.env
.env.development
!.env.example
*.env.local
!.env.local.example
*.env.development
!.env.development.example
*.env.production
!.env.production.example
*.env.test
!.env.test.example
/coverage